
<h3>Please enter a message to send to DataBase</h3>
<form (submit)="postMessage($event)">
  <div class="form-row">
    <div class="col-md-5">
      <label for="messagetext">Message</label>
      <input id="messagetext" type="text" [(ngModel)]="message" name="message" class="form-control" placeholder="enter message">
    </div>
    <div class="col-md-4">
      <label for="receiver">Receiver</label>
      <input id="receiver" type="text" [(ngModel)]="receiver" name="receiver" class="form-control" placeholder="enter receiver name">
    </div>
    <div class="col-md-3 align-self-end">
      <button type="submit" class="btn btn-primary">save new message</button>
    </div>
  </div>
</form>
<br/><br />

<h3>All messages from DataBase which you can UPDATE or Delete</h3>

<br />
<div class="row">  
  <div class="col-md-5">Message text</div>
  <div class="col-md-4 col-sm-6">Receiver</div>
  <div class="col-md-3 col-sm-6">UPDATE, DELETE</div>
</div>
<div *ngFor="let mess of messages">
  <br />
  <div class="form-row">
    <div class="col-md-5 ">
      <p>{{mess.message}}</p>
    </div>
    <div class="col-md-4 6">
      <p>{{mess.receiver}}</p>
    </div>
    <div class="col-md-3  align-self-end">
      <button type="submit" class="btn btn-warning" (click)="openForm(mess._id)">Update</button>
      <button type="button" class="btn btn-danger" (click)="deleteMessage(mess._id)">Delete</button>
    </div>
  </div>
  <br />
  <form (submit)="updateMessage($event)">
    <div class="form-row" id="" *ngIf="(mess._id==display)">
      <div class="col-md-5">        
        <input id="message" type="text" [(ngModel)]="message" name="message"  class="form-control" placeholder={{messageEdit.message}}>
      </div>
      <div class="col-md-4">        
        <input id="receiver" type="text" [(ngModel)]="receiver" name="receiver"class="form-control" placeholder={{messageEdit.receiver}}>
      </div>
      <div class="col-md-3 align-self-end">
        <button type="button" class="btn btn-light" (click)="resetEditing()">Cancel</button>
        <button type="submit" class="btn btn-success">Save message</button>
      </div>
    </div>
  </form>

</div>















